
html{
  height: 100%;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: beige;
}

.wrapper {
  width: 100%;
  margin:auto;
}

.header {
  height: 122px;
  background-image: url(../img/logo.png);
  background-color: black;

}

.banner {
  height: 20px;
  background-color:black;
  text-align: center;
  margin: 0px 0;
  padding: 20px;

}
.banner>a{
  color: #b2b2b2;
  text-decoration: 0 0px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 20px;
}
.banner>a:hover{
  color: azure;
}


.partners {
  height: 620px;
  background-color:bisque;
  background-image: url(../img/popo.png);
}

.service {
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.item {
  height: fit-content;
  width:200px;
  background-color: brown;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.item-img {
  background-image: url(../img/c22.jpg);
  background-color: antiquewhite;
  width: 100px;
  height: 100px;
}
.item-des {
  margin-top: 260px;
}
.info{
  position: absolute;
  bottom: 295px;
  left: 185px;
  color: white;
  font-size: 50px;
  text-shadow: 0 0 5px black;
}
.info1{
  position: absolute;
  bottom: 195px;
  left: 115px;
  color: silver;
  font-size: 22px;
   
}

.khung.ten{
  font-size: large;
  color: white;


}
.khung{
  border-radius: 10px;
  box-shadow: 0px 5px black;
  padding: 10px;
  margin: 0px;
  
  border: 1px solid gray;
  color: white;
 float: left;
 
}



